.root {
  border-color: vars.$colors-primary-action-hover;
  display: flex;
  gap: vars.$spacing-core-2;
  align-items: center;
  color: vars.$colors-primary-foreground;
  transition: all .1s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  line-height: normal;
  border-radius: 2rem;

  svg {
    width: 22px;
    height: 22px;
    fill: currentColor;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: vars.$colors-primary-action-hover;
    background: linear-gradient(
      90deg,
      rgb(vars.$colors-primary-action-hover, 1) 0%, 
      rgb(vars.$colors-primary-action, 1) 50%
    );
    border-radius: 24px;
    z-index: -2;
  }

  &::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: vars.$colors-primary-action-hover;
    transition: all .1s;
    border-radius: 10rem;
    z-index: -1;
  }

  &:hover{
    color: vars.$colors-primary-foreground;

    &::before{
      width: 100%;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      &::before { width: 0; }
    }
  }

  &.ghost {
    background: transparent;
    border-color: vars.$colors-primary-action;
    color: vars.$colors-primary-foreground;

    &::after { background: transparent }

    &::before { background-color: vars.$colors-primary-action-hover }

    &:hover { color: vars.$colors-primary-foreground }
  }

  &.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    line-height: normal;
    padding: 0;
    width: 38px;
    height: 38px;
    color: vars.$colors-tertiary-foreground;
    background: transparent;
    border-color: transparent;

    svg {
      width: 20px;
      height: 20px;
      fill: currentColor;
    }

    &.iconButtonLarge {
      width: 42px;
      height: 42px;

      svg {
        width: 26px;
        height: 26px;
        fill: currentColor;
      }
    }

    &::after { background: transparent; }

    &:hover { color: vars.$colors-primary-foreground }
  }
}

.group {
  display: flex;
  gap: vars.$spacing-core-2;

  &.vertical { flex-direction: column; }

  &.withoutSpacing {
    gap: 0;

    button {
      border-radius: 0;

      &:not(.ghost){ border: none }

      &::before,
      &::after {
        border-radius: 0;
      }

      &::before{ border: none }

      &:first-child {
        &::after,
        &::before {
          border-top-left-radius: 10rem;
          border-bottom-left-radius: 10rem;
        }
      }
      
      &:last-child {
        &::before,
        &::after {
          border-top-right-radius: 10rem;
          border-bottom-right-radius: 10rem;
        }
      }
    }
  }
}
