@use './variables.scss' as vars;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
}

input, button {
  border-style: solid;
  border-width: 2px;
  padding: vars.$spacing-core-2 vars.$spacing-core-4;
}

table {
  width: 100%;
  table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}

th { color: vars.$colors-secondary-foreground;}
