// @use 'sass:color';
// @use './variables.scss' as vars;
// @use './reset';
// @use './typography';
// @use './input';

// body {
//   background-color: vars.$colors-dark;
//   width: 800px;
//   height: 500px;
//   padding:0;
// }

// .header {
//   display: flex;
//   align-items: center;
//   margin: 0;
//   gap: vars.$spacing-core-1;
//   background-color: color.scale(vars.$colors-dark, $lightness: -30%);
//   padding: 0 vars.$spacing-core-4;
//   height: 72px;

//   input { flex-grow: 1 }
//   button { width: auto }
// }

// .content {
//   background-color: vars.$colors-dark;
// }

// #header-list {
//   height: 356px;
//   background-color: vars.$colors-dark;
//   padding: vars.$spacing-core-4;
//   display: flex;
//   flex-direction: column;
//   gap: vars.$spacing-core-6;
//   overflow-y: auto;
// }

// .headers-desc-row {
//   display: flex;
//   flex-direction: row;
//   padding-left: 67px;
//   padding-right: 93px;

//   h3{ flex-grow: 1 }
// }

// .header-row {
//   display: flex;
//   align-items: center;
//   gap: vars.$spacing-core-1;

//   input[type="checkbox"], .button-wrapper { width: auto; }

//   .button-wrapper { display: flex; gap: vars.$spacing-core-1; }

//   .header-content-wrapper { 
//     flex-grow: 1;
//     padding: 0 vars.$spacing-core-4;
//     display: flex;
//     width: auto;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;

//     strong,span{ width: 50% }
//   }
// }

// .panel {
//   position: fixed;
//   z-index: 99999;
//   top: 0;
//   right: 0;
//   width: 60vw;
//   height: 100vh;
//   background-color: vars.$colors-dark-lighter;
//   box-shadow: -4px 0 12px rgb(0 0 0 / 15%);
//   transform: translateX(100%);
//   transition: transform .35s ease-in-out;
//   display: flex;
//   flex-direction: column;
//   gap: vars.$spacing-core-4;
//   padding: vars.$spacing-core-4;

//   &[hidden] { display: none }
// }

// .panel.is-open {
//   transform: translateX(0);
// }

// .backdrop {
//   position: fixed;
//   inset: 0;
//   background: rgb(0 0 0 / 80%);
//   opacity: 0;
//   transition: opacity .35s ease-in-out;
  
//   &[hidden] { display: none }

//   &.is-visible {
//     opacity: 1;
//     cursor: pointer;
//   }
// }

// #app-footer {
//   background-color: color.scale(vars.$colors-dark, $lightness: -30%);
//   padding: 0 vars.$spacing-core-4;
//   gap: vars.$spacing-core-2;
//   display: flex;
//   align-items: center;
//   height: 72px;

//   h1 {
//     font-size: 1.5rem;
//     line-height: normal;
//     flex-grow: 1;

//     .name-header { color: vars.$colors-main-light; }
//     .name-tweaker { color: vars.$colors-main }
//   }

//   p { font-size: .8rem }
// }