@use 'sass:color';
@use './variables.scss' as vars;
@use './reset.scss';
@use './typography.scss';
@use './input.scss';

body {
  background-color: vars.$colors-dark;
  width: 800px;
  height: 400px;
  padding:0;
}

.header {
  display: flex;
  align-items: center;
  margin: 0;
  gap: vars.$spacing-core-1;
  background-color: color.scale(vars.$colors-dark, $lightness: -30%);
  padding: vars.$spacing-core-4 vars.$spacing-core-4;

  input { flex-grow: 1 }
  button { width: auto }
}

.content {
  background-color: vars.$colors-dark;
}

#header-list {
  min-height: 300px;
  background-color: vars.$colors-dark;
  padding: vars.$spacing-core-4;
  display: flex;
  flex-direction: column;
  gap: vars.$spacing-core-6;
}

.headers-desc-row {
  display: flex;
  flex-direction: row;
  padding-left: 67px;
  padding-right: 123px;

  h3{ flex-grow: 1 }
}

.header-row {
  display: flex;
  align-items: center;
  gap: vars.$spacing-core-1;

  input[type="checkbox"], button { width: auto; }

  .header-content-wrapper { 
    flex-grow: 1;
    padding: 0 vars.$spacing-core-4;
    display: flex;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    strong,span{ width: 50% }
  }
}

.panel {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100vh;
  background-color: vars.$colors-dark-lighter;
  box-shadow: -4px 0 12px rgba(0,0,0,.15);
  transform: translateX(100%);
  transition: transform .35s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: vars.$spacing-core-4;
  padding: vars.$spacing-core-4;

  &[hidden] { display: none }
}

.panel.is-open {
  transform: translateX(0);
}

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity .35s ease-in-out;
  
  &[hidden] { display: none }

  &.is-visible {
    opacity: 1;
    cursor: pointer;
  }
}