$colors-primary-background: #010A31;
$colors-primary-foreground: #fff;
$colors-primary-action: #872DFA;
$colors-primary-action-hover: #5f14c2;
$colors-primary-action-disabled: #333A5D;
$colors-primary-success: #00D27C;
$colors-primary-error: #e3332d;
$colors-primary-warning: #ed9f22;

$colors-accent-primary: #006dff;

$colors-secondary-foreground: #414362;
$colors-tertiary-foreground: #9B9DB1;

$spacing-core-1: 4px;
$spacing-core-2: 8px;
$spacing-core-3: 12px;
$spacing-core-4: 16px;
$spacing-core-5: 20px;
$spacing-core-6: 24px;
$spacing-core-8: 32px;
$spacing-core-10: 40px;
$spacing-core-12: 48px;
$spacing-core-14: 56px;
$spacing-core-16: 64px;
$spacing-core-18: 72px;
$spacing-core-20: 80px;
$spacing-core-22: 88px;
$spacing-core-24: 96px;
$spacing-core-26: 104px;
$spacing-core-28: 112px;
$spacing-core-30: 120px;
$spacing-core-025: 1px;
$spacing-core-05: 2px;

$border-radius-primary: 0.5rem;
$border-radius-small: 8px;
$border-radius-full: 50vh;

