$colors-white: #FDFFFC;
$colors-grey: #ccc;
$colors-dark: #191E20;
$colors-dark-lighter: #171B1C;
$colors-main: #533894;
$colors-main-light: #F8F0FB;
$colors-main-dark: #392469;
$colors-accent: #E2856E;
$colors-warning: #EF8B00;
$colors-success: #4BB543;
$colors-error: #FF3333;

$spacing-core-1: 0.25rem;
$spacing-core-2: 0.5rem;
$spacing-core-3: 0.75rem;
$spacing-core-4: 1rem;
$spacing-core-5: 1.25rem;
$spacing-core-6: 1.5rem;
$spacing-core-8: 2rem;
$spacing-core-10: 2.5rem;
$spacing-core-12: 3rem;
$spacing-core-14: 3.5rem;
$spacing-core-16: 4rem;
$spacing-core-18: 4.5rem;
$spacing-core-20: 5rem;
$spacing-core-22: 5.5rem;
$spacing-core-24: 6rem;
$spacing-core-26: 6.5rem;
$spacing-core-28: 7rem;
$spacing-core-30: 7.5rem;
$spacing-core-025: 0.0625rem;
$spacing-core-05: 0.125rem;

