$colors-primary-background: #010A31;
$colors-primary-foreground: #fff;
$colors-primary-action: #872DFA;
$colors-primary-action-hover: #5f14c2;
$colors-primary-action-disabled: #333A5D;
$colors-primary-success: #00D27C;

$colors-secondary-foreground: #414362;
$colors-tertiary-foreground: #9B9DB1;

$spacing-core-1: 0.25rem;
$spacing-core-2: 0.5rem;
$spacing-core-3: 0.75rem;
$spacing-core-4: 1rem;
$spacing-core-5: 1.25rem;
$spacing-core-6: 1.5rem;
$spacing-core-8: 2rem;
$spacing-core-10: 2.5rem;
$spacing-core-12: 3rem;
$spacing-core-14: 3.5rem;
$spacing-core-16: 4rem;
$spacing-core-18: 4.5rem;
$spacing-core-20: 5rem;
$spacing-core-22: 5.5rem;
$spacing-core-24: 6rem;
$spacing-core-26: 6.5rem;
$spacing-core-28: 7rem;
$spacing-core-30: 7.5rem;
$spacing-core-025: 0.0625rem;
$spacing-core-05: 0.125rem;

$border-radius-primary: 0.5rem;

