.root {
  padding: 0 vars.$spacing-core-4;
  display: flex;
  flex-direction: column;
  gap: vars.$spacing-core-6;
  overflow-y: auto;
}

.notFound { text-align: center; }

.headerSwitch { width: 70px; }

.headerActions { 
  width: 120px; 
  padding-left: 0;
  padding-right: 0;
}

.buttonWrapper { 
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: left;
  padding: 0;
}

.headerList {
  display: flex;
   flex-direction: column;
   gap: vars.$spacing-core-6;
}

.disabled { opacity: 0.4 }